body {
    text-align: center;
    padding: 2em;
    font-size: 30px;
}

li{
    border: 2px solid black
}

a{
    text-decoration: none;
    color: green;
}

.erro{
    text-align: center;
    color: red
}