<h1>Criação de Taks</h1>
<form action="/tasks/add" method="POST">
<label for="title">Título</label>
<input type="text" name="title" placeholder="O que voce vai fazer">
<label for="description">Desscrição</label>
<textarea name="description" placeholder="Descrevaa tarefa..."></textarea>
<input type="submit" value="Criar">
</form>
